*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.heading{
    text-align: center;
    color: rgb(206, 206, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calculator{
    margin: 60px 0px 0px 0px ;
display: flex;
    justify-content: center;
    height: 500px;
    font-size: 40px;
    
}

.container{
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
     */
     /* background-color: #004473; */
     background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,1) 49%, rgba(2,0,36,1) 79%);
    border: 1px solid black;
}

.table{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.table td{
    /* gap: 10px; */
    border: 1px solid  rgb(255, 254, 254);
    
    padding: 6px 38px 11px 49px;   
    color: rgb(206, 206, 206); 
    
}
.number{
    /* background-color: #303136;
    color: #005DB2 ; */
}
.table td:hover{

    background-color: rgb(12, 12, 70);
    /* background-color: #616161; */

}

#number{
    background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,1) 49%, rgba(2,0,36,1) 79%);
    text-align: right;
    width: 100%;
    height: 80px;
    color: white;
    /* background-color: #004473; */
    font-size: 40px;
    

}


.operator{
    /* background-color: #005DB2;
    color: #303136; */
}


.equals{
    /* background-color: #29A8FF;
    color: white; */
}
.decimal{
    /* color: white; */
}
#number::placeholder{
    color: white;
}